@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Red+Hat+Display:wght@300&family=Roboto+Condensed&family=Ubuntu:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: Epilogue;
  }

body {
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1020px;
    height: 150px;
    border: 3px solid black;
}

.logo {
    font-size: 95px;
    padding-left: 35px;
    width: 150px;    
    height: 147px;
    border-right: 3px solid black;
    letter-spacing: -19px;
    padding-top: 20px;
    font-family: Roboto Condensed;
}

.content {
    display: flex;
    flex-flow: column wrap;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-around;
}

.centerHeader {
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: Roboto Condensed;
    letter-spacing: 2px;
}

.title {
    font-size: 65px;
    margin-top: 40px;
}

.tagline {
    font-size: 18px;
    margin-top: 5px;
}

h3 {
    border-bottom: 1px solid blueviolet;
}

a {
    text-decoration: none;
    color: black;
}


ul {
    list-style: none
}

/* ****** NAV ****** */
.topNav {
    display: flex;
    flex-flow: column;
    width: 150px;    
    height: 147px;
    align-items: center;
    justify-content: space-evenly;
    border-left: 3px solid black; 
    font-family: Roboto Condensed;
}

.topNavActive {
    color: teal;
    border-bottom: 1px solid teal;
}

.container {
    /* background-color: lightseagreen; */
    /* border: 2px solid black; */
    width: 1020px;
    height: 1020px;
    display: flex;
    flex-flow: column wrap;
}

/* ****** HOME ****** */

.homeLeftSqare {
    height: 700px;
    Width: 700px;
    font-size: xx-small;
}

.homeLeftSqare img {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    height: 700px;
    width: 700px
}

.homeLeftSqare a {
    font-size: xx-small
}

.homeRightSide {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 700px; 
    width: 320px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 10px;
}
.homeColumn {
    font-size: small;
    padding: 20px;
}

/* ****** POSTS ****** */

.postsList {
    display: inline;
    border: 1px solid grey;
    margin: 25px;
}

.postDescription {
    display: flex;
    flex-flow: column wrap;
    border: 1px dashed darkcyan;
    margin: 25px;
    padding: 10px;
}

.postsTop {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 15px;
    background-color: lightseagreen;
}

.postFeed {
    height: fit-content;
    width: fit-content;
    margin-left: 325px;
}

.postSearch {
    height: fit-content;
    width: fit-content;
    margin-right: 15px;
}
